#main {
  display: grid;

}

#header {
  width: 100%;
  height: 150px;
  border-bottom-style: groove;
  display: flex;
  color :#000000
}

.h{
  margin-left: 43%;
}

#search {
  height: 75px;
  width: 800px;
  margin-left: 40px;
  margin-right: 40px;
}

.insearch {
  height: 70%;
  width: 89%;
  margin-top: 9px;
}

.btnsearch {
  width: 9%;
  height: 78%;
  cursor: pointer;
  border: none;
}

.btnsearch:hover{
  border-style: solid;
}

.h1header {
  margin-top: 17px;
  color: rgb(36,30,32);
}

.h1header:hover{
  cursor: pointer;
  border-style: solid;
  width: 240px;
  margin-right: 94px;
  height: 80px;
}


.contentbtn{
  background-color: white;
  border-style: none;
  font-family:'Times New Roman', Times, serif;
  cursor: pointer;
}

#rightbtn {
  width: 32%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -40px;
  height: 60%;
}

.btn {
  width: 32%;
  height: 100%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover{
  border-style: solid;
}

.btn1:hover{
  border-style: solid;
}

#chart {
  height: 33%;
  width: 2.6%;
  margin-top: 95px;
  margin-right: 10px;
}

.chart {
  height: 55px;
  width: 50px;
}

#content {
  height: 2100px;
  display: grid;
  gap: 30px;
}

.special {
  display: flex;
  border-style: solid;
  border-bottom-width:  1px;
  border-top: none;
  border-left: hidden;
  border-right: hidden;
  height: 400px;
  justify-content: space-around;
}

.new {
  display: flex;
  border-style:solid;
  border-bottom-width: 1px;
  border-top: none;
  border-left: hidden;
  border-right: hidden;
  height: 400px;
  justify-content: space-around;
}

.coming {
  display: flex;
  height: 400px;
  border-bottom-width: 1px;
  border-top: none;
  border-left: hidden;
  border-right: hidden;
  justify-content: space-around;
}

.best {
  display: flex;
  border-style: solid;
  border-bottom-width: 1px;
  border-top: none;
  border-left: hidden;
  border-right: hidden;
  height: 400px;
  justify-content: space-around;
}

.s {
  width: 200px;
  padding-right: 20px;
  display: grid;
  justify-items: start;
  border-right-style: groove;
  border-right-width: 1px;
  padding-right: 60px;
  margin-bottom: 25px;
  grid-template-rows: 1fr 2fr 1fr;
}

.img {
  width: 220px;
  height: 140px;
}

.pr {
  margin-left: 40px;
  font-weight: bold;
}

.p {
  margin-top: 40px;
  font-size: 20px;
  text-align: start;
  font: weight 800px;
}

.searchBar {
  display: grid;
  justify-content: start;
}

.results {
  display: flex;
  justify-content: start;
  gap: 40px;
}

.sortImg {
  display: grid;
  justify-content: space-around;
  gap: 50px;
}

.sortP {
  display: grid;
  justify-content: space-around;
  gap: 50px;
}

.img1 {
  width: 180px;
  height: 140px;
}

.p1 {
  margin-top: 55px;
  font-size: 20px;
  font: weight 800px;
}

.aboutH {
  color: rgb(51, 51, 51);
}

.aboutP {
  color: rgb(0, 0, 0);
  line-height: 1.6;
}

.btn1 {
  width: 32%;
  height: 100%;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.contactDiv{
  margin-top: 40px;
  margin-left: 40px;
  display: grid;
}

.divdiv{
  margin-top: 30px;
  margin-left: 60px;

}

.im {
  filter: blur(2px)
}
.im:hover{
  zoom: 1.4;
  filter: none;
}

.divRight{
  width: 550px;
  height: 300px;
  border-style: none;
  background-color: rgb(220,220,220);
  border-radius: 15px;
  position: absolute;
  right:  100px;
  top: 260px;
  display: grid;
  justify-items: center;
}


